#Upgrade Kubernetes

kubelet
kubectl 
kubelet
kubeadm


#Certificates:

.crt
.key

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
*.tfplan
terraform.tfstate.d/

# Exclude executable and large files that don't need to be version controlled
**/*.exe
**/*.dll
**/*.zip